@keyframes bounce{
	0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
@keyframes round{
	0% {
    transform: scale(1) translate(0,0);
  }
  20% {
    transform: scale(1) translate(5px,0);
  }
  40% {
    transform: scale(1) translate(0,5px);
  }
  60% {
    transform: scale(1) translate(-5px,0);
  }
  80% {
    transform: scale(1) translate(0px,-5px);
  }100% {
    transform: scale(1) translate(0,0);
  }
}

@keyframes scale{
	0% {
    transform: translate(0,0);
  }
  25% {
    transform: translate(20px,0);
  }
  75% {
    transform: translate(-20px,0);
  }100% {
    transform: translate(0,0);
  }
}
@keyframes enlarge{
	0% {
    transform: scale(1) translate(0,0);
  }
  50% {
    transform: scale(1.01);
  }100% {
    transform: scale(1) translate(0,0);
  }
}
circle.c4{
	animation-name: bounce;
	animation-iteration-count:infinite ;
	animation-duration:2s ;
}
circle.c1{
	animation-name: round;
	animation-iteration-count:infinite ;
	animation-duration:0.6s ;
	animation-delay:1s;
	animation-direction:alternate;
}
circle.c2{
	animation-name: enlarge;
	animation-iteration-count:infinite ;
	animation-duration:0.5s ;
	animation-delay:0.5s;
}
circle.c3{
	animation-name: enlarge;
	animation-iteration-count:infinite ;
	animation-duration:1s ;
	animation-delay:0.5s;
}
path.scale{
	animation-name:scale;
	animation-iteration-count:infinite ;
	animation-duration:1s ;
}
